<nav class="navbar navbar-expand-lg navbar-light" data-aos="fade-in">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img class="navbar-logo" src="img/xerophy-logo.svg" alt="">
            <span class="navbar-logo-name ms-2">Xerophy</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ecosystem
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#">
                                <img src="img/xerophy-logo.svg" alt="">
                                <div class="dropdown-item__box">
                                    <span>Xerophy Framework</span>
                                    <p>a lightweight framework for php developers</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <img src="img/BrettyUI-logo.svg" alt="">
                                <div class="dropdown-item__box">
                                    <span>Bretty UI</span>
                                    <p>UI library to create pretty user interfaces</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Development</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <a class="btn btn-primary btn-primary-gradient" href="#">Documentation</a>
        </div>
    </div>
</nav>